# =========================
# Python bytecode & caches
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# =========================
# Virtual Environments
# =========================
venv/
.venv/
env/
.env/
ENV/
env.bak/
venv.bak/

# =========================
# PyCharm / VSCode / IDEs
# =========================
.idea/
.vscode/
*.code-workspace

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Distribution / Packaging
# =========================
build/
dist/
*.egg-info/
.eggs/
wheels/
pip-wheel-metadata/

# =========================
# Unit test / coverage
# =========================
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# OS junk
# =========================
.DS_Store
Thumbs.db
desktop.ini

# =========================
# Project specific
# =========================
backend/src/data/papers/
backend/src/data/processed/
backend/src/data/embeddings/
backend/src/data/chroma/
backend/data/chroma/
*.sqlite3

# =========================
# Secrets
# =========================
.env
*.key
*.pem

# =========================
# Angular / Frontend
# =========================
frontend/scholar-ui/node_modules/
frontend/scholar-ui/dist/
frontend/scholar-ui/.angular/
frontend/scholar-ui/.vscode/
frontend/scholar-ui/npm-debug.log*
frontend/scholar-ui/yarn-debug.log*
frontend/scholar-ui/yarn-error.log*
frontend/scholar-ui/.env
backend/src/data/papers/2512.15920v1.pdf
